global:
  environment: dev
  image:
    repository: docker.io/narayanasrimanth
    tag: "latest"
    pullPolicy: IfNotPresent
  security:
    allowInsecureImages: true

image:
  backend:
    repository: sentinelcare-backend
  frontend:
    repository: sentinelcare-frontend
  patients:
    repository: sentinelcare-patients
  vitals:
    repository: sentinelcare-vitals
  alerts:
    repository: sentinelcare-alerts
  scoring:
    repository: sentinelcare-scoring
  tasks:
    repository: sentinelcare-tasks
  audit:
    repository: sentinelcare-audit
  notifications:
    repository: sentinelcare-notifications
  auth:
    repository: sentinelcare-auth
  simulator:
    repository: sentinelcare-simulator

service:
  backend:
    port: 8000
  frontend:
    port: 80
  patients:
    port: 8101
  vitals:
    port: 8102
  alerts:
    port: 8103
  scoring:
    port: 8104
  tasks:
    port: 8105
  audit:
    port: 8106
  notifications:
    port: 8107
  auth:
    port: 8100
  simulator:
    port: 8110 # Simulator runs on 8110 by default

mockModel:
  path: /app/models/mock_artifacts/sepsis_mock_model.json

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: sentinelcare.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  backend: {}
  frontend: {}
  patients: {}
  vitals: {}
  alerts: {}
  scoring: {}
  tasks: {}
  audit: {}
  notifications: {}
  auth: {}
  simulator: {}

autoscaling:
  enabled: true # Enabled for high availability and scalability
  backend:
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 70
  frontend:
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 70

mongodb:
  auth:
    enabled: false
  persistence:
    enabled: false # For dev/demo simplicity
  service:
    ports:
      mongodb: 27017
  
elasticsearch:
  imageTag: "7.17.18"
  replicas: 1
  minimumMasterNodes: 1
  persistence:
    enabled: false
  resources:
    requests:
      cpu: "100m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

kibana:
  imageTag: "7.17.18"
  elasticsearchHosts: "http://elasticsearch-master:9200"
  resources:
    requests:
      cpu: "100m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

logstash:
  imageTag: "7.17.18"
  replicas: 1
  persistence:
    enabled: false
  elasticsearch:
    host: elasticsearch-master
    port: 9200
  resources:
    requests:
      cpu: "100m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "1Gi"

filebeat:
  imageTag: "7.17.18"
  daemonset:
    enabled: true
  filebeatConfig:
    filebeat.yml: |
      filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
        processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

      output.logstash:
        hosts: ["sentinelcare-logstash-headless:5044"]
